<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/commonStyle.css">
    <head>
        <meta charset="UTF-8">
        <title>testing tabs</title>
    </head>

<body>

    <!--Primary Navbar-->
 
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="login.html" class="navbar-brand"><img width= "60px"; height="60px"; src="../public/logo.png"></a>
        <h1 class="Welcoming">    Welcome</h1>
       
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-lable="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto text-center">
            
            <li class="navbar-item dropdown profile-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Accounts</a>
                    <ul class="dropdown-menu animate slideDown" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="AdminManagePatient.html">Patient</a></li>
                        <li><a class="dropdown-item" href="AdminManagePhysician.html">Physician</a></li>
                        <li><a class="dropdown-item" href="AdminManageAlumni.html">Alumni</a></li>
                    </ul>
                </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Manage Forums</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="AdminLinkPatient.html">Link Patient</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="Profile.html">My Profile</a>
            </li>
            
            <li class="nav-item">
                <a href="login.html"><button class="btn btn-outline-danger">Logout</button></a>
            </li>
            
        </ul>
        </div>
    </nav>

<!--Secondary Navbar-->
<div class="tabContainer"><h3 class="namePatient border text-center border-3 bg-light border-success">PATIENT</h3>
    <div class="buttonContainer">
        <button onclick="showPanel(0, '#')">Create Patient Account</button>
        <button onclick="showPanel(1, '#')">Edit Patient Account</button>
        <button onclick="showPanel(2, '#')">Delete Patient Account</button>
        <button onclick="showPanel(3, '#')">Suspend Patient Account</button>
    </div>

    <!--Create Account-->
    <div class="tabPanel">
        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <h4><%=locals.msg%></h4>
                <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                    <div class="formDesign">
                        <div>
                 
                        <h3><b>Create Patient Account</b></h3>
                        <form class="form-group formAlign" method="post" action="/admin/create">
                        <p>Email <input class="form-control" id="email" name = "email" required type="email"></p>
                        <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                        <p>Last Name <input class="form-control" id="lname" name = "lastname" required></p>
                        <p>Middle Name <input class="form-control" id="mname" name = "middlename" required></p>
                        <p>Contact <input class="form-control" id="contact" name = "contact" required></p>
                        <p>Nickname <input class="form-control" name ="nickname" required type="text"> </p>
                        <p>Age <input class="form-control" id="age" name = "age" type="number" required min=1 max=99></p>
                        <p>Password <input class="form-control" minlength="6" required name ="pw" type="password"> </p>
                        <p>Sex:  <input name ="sex" type="radio" value="male" checked> Male
                             <input  name ="sex" type="radio" value="female"> Female </p>
                        <p>Birthday <input class="form-control" required name ="bday" type="date"> </p>
                        <p>Substance Used: <input class="form-control" name ="substance" required type="text"> </p>
                        <p><button class="form-control btn btn-success" type="submit">Submit</button></p>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>

    <!--Edit Account-->
    <div class="tabPanel">
        <div class="container mt-5">
            <div class="row justify-content-center">
    
                <div class="col-sm-8">
                <div class="formDesign">
                    <div>
                        <h1><b>List of Patients</b></h1>
                        <table id="table" class="table">
                        <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Contact</th>
                        <th>Age</th>
                        <th>Email</th>
                        </tr><%locals.accs[0].firstName%>
                        </table>
                    </div>
                </div>
                </div>
    
                    <div class="col-sm-4">
                        <div class="formDesign">
                        <div class="row">
    
                            <div>
                                <h2>Query Patients</h2>
                                <form class="form-group formAlign" method="post" action="#">
                                    <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                    <p>Last Name <input class="form-control" id="lname" name = "lastname" required></p>
                                    <p><button class="form-control btn btn-outline-success" type="submit">Search</button></p>
                                </form>
                            </div>
                        </div>
                        </div>
    
    
                    <div class="col-sm-12">
                    <div class="formDesign">
                            <div>
                                <h2>Edit Patient Account</h2>
                                <form class="form-group formAlign" method="post" action="">
                                    <p>Email <input class="form-control" id="email" name = "email" required type="email"></p>
                                    <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                    <p>Last Name <input class="form-control" id="lname" name = "lastname" required></p>
                                    <p>Middle Name <input class="form-control" id="mname" name = "middlename" required></p>
                                    <p>Contact <input class="form-control" id="contact" name = "contact" required></p>
                                    <p>Nickname <input class="form-control" name ="nickname" required type="text"> </p>
                                    <p>Age <input class="form-control" id="age" name = "age" type="number" required min=1 max=99></p>
                                    <p>Password <input class="form-control" minlength="6" required name ="pw" type="password"> </p>
                                    <p>Sex:  <input name ="sex" type="radio" value="male" checked> Male
                                        <input  name ="sex" type="radio" value="female"> Female </p>
                                    <p>Birthday <input class="form-control" required name ="bday" type="date"> </p>
                                    <p>Substance Used: <input class="form-control" name ="substance" required type="text"> </p>
                                    <p><button class="form-control btn btn-success" type="submit">Submit</button></p>
                                </form>
                            </div>
                    </div>
                    </div>
                    </div>
    
            </div>
        </div>
    </div>

    <!--Delete Account-->
    <div class="tabPanel">
        <div class="container mt-5">
            <div class="row justify-content-center">
    
                <div class="col-sm-8">
                <div class="formDesign">
                    <div>
                        <h1><b>List of Patients</b></h1>
                        <table id="table" class="table">
                        <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Contact</th>
                        <th>Age</th>
                        <th>Email</th>
                        </tr>
                        </table>
                    </div>
                </div>
                </div>

                <div class="col-sm-4">
                    <div class="formDesign">
                    <div class="row">

                        <div>
                            <h2>Query Patients</h2>
                            <form class="form-group formAlign" method="post" action="#">
                                <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                <p>Last Name <input class="form-control" id="lname" name = "lastname" required></p>
                                <p><button class="form-control btn btn-outline-success" type="submit">Search</button></p>
                            </form>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm">
                        <div class="formDesign">
                                <div>
                                    <h2>Delete Patient Account</h2>
                                    <form class="form-group formAlign" method="post" action="">
                                        <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                        <p>Email <input class="form-control" id="email" name = "email" required type="email"></p>
                                        <p><button class="form-control btn btn-success" type="submit">Delete</button></p>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Suspend Account-->
    <div class="tabPanel">
        <div class="container mt-5">
            <div class="row justify-content-center">
    
                <div class="col-sm-8">
                <div class="formDesign">
                    <div>
                        <h1><b>List of Patients</b></h1>
                        <table id="table" class="table">
                        <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Contact</th>
                        <th>Age</th>
                        <th>Email</th>
                        </tr>
                        </table>
                    </div>
                </div>
                </div>

                <div class="col-sm-4">
                    <div class="formDesign">
                    <div class="row">

                        <div>
                            <h2>Query Patients</h2>
                            <form class="form-group formAlign" method="post" action="#">
                                <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                <p>Last Name <input class="form-control" id="lname" name = "lastname" required></p>
                                <p><button class="form-control btn btn-outline-success" type="submit">Search</button></p>
                            </form>
                        </div>
                    </div>
                    </div>

                    <div class="col-sm">
                        <div class="formDesign">
                                <div>
                                    <h2>Suspend Patient Account</h2>
                                    <form class="form-group formAlign" method="post" action="">
                                        <p>First Name <input class="form-control" id="fname" name = "firstname" required></p>
                                        <p>Email <input class="form-control" id="email" name = "email" required type="email"></p>
                                        <p><button class="form-control btn btn-success" type="submit">Suspend</button></p>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../controller/accountController.js"></script>
<script src="../public/scriptTab.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>