<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/commonStyle.css">
<link rel="stylesheet" href="../public/toggle.css">
    <head>
        <meta charset="UTF-8">
        <title>Admin Manage Patient</title>
    </head>

<body>

    <!--Primary Navbar-->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="/admin/" class="navbar-brand"><img width= "60px"; height="60px"; src="../public/logo.png"></a>
        <h1 class="Welcoming">    Welcome</h1>
       
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-lable="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto text-center">
            
            <li class="navbar-item dropdown profile-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Accounts</a>
                    <ul class="dropdown-menu animate slideDown" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/admin/">Patient</a></li>
                        <li><a class="dropdown-item" href="/admin/physician">Physician</a></li>
                        <li><a class="dropdown-item" href="/admin/alumni">Alumni</a></li>
                    </ul>
                </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/sg">Manage Forums</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/link">Link Patient</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/admin/profile">My Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/archive">Archive</a>
            </li>
            
            <li class="nav-item">
                <a href="/admin/signOut"><button class="btn btn-outline-danger">Logout</button></a>
            </li>
            
        </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="formDesign">
                    <h1 style="text-align: center;"><b>Archives</b></h1>
                </div>
            </div>
        </div>

        <!--Repeat--><div class="attatch">

        </div>
      

       

    </div>

<script src="../public/js/archive.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>