<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/commonStyle.css">
    <head>
        <meta charset="UTF-8">
        <title>Create New Post</title>
    </head>

<body>

    <!--Primary Navbar-->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="/phy" class="navbar-brand"><img width= "60px"; height="60px"; src="../public/logo.png"></a>
        <h1 class="Welcoming">Welcome</h1>
      
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-lable="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto text-center">
            
            <li class="nav-item">
                <a class="nav-link" href="/phy">My Patients</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/phy/bulkTask">Task Assignments</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/phy/SGList">Support Groups</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/phy/selfHelp">Manage Self-Help</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/phy/messageList">Messages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/phy/profile">My Profile</a>
            </li>
            
            <li class="nav-item">
                <a href="/admin/signOut"><button class="btn btn-outline-danger">Logout</button></a>
            </li>
            
        </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="rowDesign" style="text-align: center;"><b><%=locals.title%></b></h1>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="formDesign">
                    <h2 class="noAcc"><b>Create Post</b></h2>
                    <form class="form-group formAlign" id="create" method="post" action="/phy/create">
                        <h4><b>Title</b><input class="form-control" id="title"name="title" required></h4>
                        <h4><b>Post Contents</b><textarea required id="contents" class="taskDescription" name="taskDescription" rows="12"></textarea></h4>
                        <p><button class="btn btn-success" type="submit">Submit</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>



<script>

function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}


    document.getElementById("create").addEventListener("submit",async(e)=>{
        e.preventDefault()    
        var sgid =getParameterByName('sgid')
        var title =document.getElementById('title')
        var contents = document.getElementById("contents")
        await fetch("/phy/create?sgid="+sgid,{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({
                title:title.value,
                content:contents.value
            })
        }).then(async(res)=>{
            var data = await res.json()
            
            if(data.bool)
            {
                alert("SUCCESS")
                window.location.href="/phy/sg?id=" + sgid
            }
            else
            {
                alert("FAILED TRY AGAIN")
            }
        })
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>