<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/commonStyle.css">
    <head>
        <meta charset="UTF-8">
        <title>testing tabs</title>
    </head>

<body>

    <!--Primary Navbar-->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="login.html" class="navbar-brand"><img width= "60px"; height="60px"; src="../public/logo.png"></a>
        <h1 class="Welcoming">Welcome</h1>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-lable="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto text-center">
            
            <li class="nav-item">
                <a class="nav-link" href="PhysicianAllPatientList.html">My Patients</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Support Groups</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Manage Self-Help</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Profile.html">My Profile</a>
            </li>
            
            <li class="nav-item">
                <a href="login.html"><button class="btn btn-outline-danger">Logout</button></a>
            </li>
            
        </ul>
        </div>
    </nav>

<!--Secondary Navbar-->
<div class="tabContainer">
    <div class="buttonContainer">
        
        <button class="linknavbutton" onclick="showPanel(0, '#')">Support Groups</button>
        <button class="linknavbutton" onclick="showPanel(1, '#')">Create Support Group</button>
    </div>

    <!--Support Groups List-->
    <div class="tabPanel">
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="formDesign">
                        <h1 class="noAcc"><b>Support Group Forums</b></h1>
                        <div class="scroll-bar SGItems">
                            <ul>
                                <li><a class="nav-link" href="#"><b>Support Group 1</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 2</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 3</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 4</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 5</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 6</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 7</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 8</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 9</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 10</b></a></li>
                                <li><a class="nav-link" href="#"><b>Support Group 11</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Create Support Group-->
    <div class="tabPanel">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="formDesign">
                        <div>
                            <h3><b>Create Support Group</b></h3>
                            <form class="form-group formAlign" method="post" action="">
                            <p>Support Group Name<input class="form-control" id="" name = "" required></p>
                            <p>Description<input class="form-control" id="" name = "" required></p>
                            <p><button class="form-control btn btn-success" type="submit">Create</button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="../public/scriptTab.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>