<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/commonStyle.css">
    <head>
        <meta charset="UTF-8">
        <title>testing tabs</title>
    </head>

<body>

    <!--Primary Navbar-->
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a href="/phy" class="navbar-brand"><img width= "60px"; height="60px"; src="../public/logo.png"></a>
        <h1 class="Welcoming">Welcome</h1>
      
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-lable="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto text-center">
            
            <li class="nav-item">
                <a class="nav-link" href="/phy">My Patients</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Support Groups</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/phy/selfHelp">Manage Self-Help</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/phy/messageList">Messages</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/phy/profile">My Profile</a>
            </li>
            
            <li class="nav-item">
                <a href="/admin/signOut"><button class="btn btn-outline-danger">Logout</button></a>
            </li>
            
        </ul>
        </div>
    </nav>

    <div class="container chatContainer">
        <div class="msg-header">
            <div class="msg-header-img">
                <img class="msgIcon" src="../public/messageicon.png">
            </div>
            <div class="chatActive">
                <h4><%=locals.name%></h4>
            </div>
        </div>

        <div class="chat-page">
        <div class="msg-inbox">
                <div class="chats">
                <div class="msg-page">

                    <!--Duplicate Received-->
                    <div class="received-chats">
                        <div class="received-chats-img">
                            <img src="../public/messageicon.png">
                        </div>
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <p>Hi! This is message from Park Jihyo</p>
                                <span class="time">11:01 PM | Nov 1</span>
                            </div>
                        </div>
                    </div>

                    <!--Duplicate Own Message-->
                    <div class="outgoing-chats">
                        <div class="outgoing-chats-msg">
                            <p>Hi! This is message from Domzyu</p>
                            <span class="time">11:01 PM | Nov 1</span>
                        </div>
                    </div>

                    <div class="received-chats">
                        <div class="received-chats-img">
                            <img src="../public/messageicon.png">
                        </div>
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <p>Hi! This is message from Park Jihyo</p>
                                <span class="time">11:01 PM | Nov 1</span>
                            </div>
                        </div>
                    </div>
                </div><!--end-->
                </div>   
        </div>
        
            <div class="msg-bottom">
                <div class="input-group">
                <textarea class="form-control id='sms' inputChat" id="inputChat" placeholder="write message..." rows="1" required></textarea>
                    <div class="input-group-append">
                        <span onclick="send()" class="input-group-text"><img src="../public/send.png"></span>
                    </div>
                </div>
            </div>

            <script>
                const textarea = document.querySelector("textarea");
                textarea.addEventListener("keyup", e =>{
                    textarea.style.height = 'auto';
                    let scHeight = e.target.scrollHeight;
                    textarea.style.height = '${scHeight}px';
                });
            </script>

        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>

<script src="../public/js/messaging.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>