.html,body{
    background-image: url(webbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
    color: green;
}

.logos{
    margin-top: 50px;
}

.navbar{
	padding: 10px;
	margin-bottom: 40px;
	font-family: cursive;
	box-shadow: 5px 5px 20px lightgrey;
}

ul.navbar-nav li.profile-dropdown{
	margin-left: auto;
	margin-right: auto;
}

#navbarMenu ul li ul.dropdown-menu{
	border-radius: 0;
	border-top-width: 3px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-color: aquamarine    ;
	margin-top: 17px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding-top: 0;
	padding-bottom: 0;
}

#navbarMenu ul li ul.dropdown-menu li{
	border-bottom: 1px solid #ccc;
}

#navbarMenu ul li ul.dropdown-menu li a:hover{
	background-color: lightseagreen;
	color: #ffffff;
	transition: .4s;
}

#navbarMenu ul li ul.dropdown-menu li a{
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.animate{
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

@-webkit-keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	
}

.carousel-item{
    height: 100%;
}
