<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meyvn.restart_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestartMobile">
        <activity
            android:name=".ViewTaskEntry"
            android:exported="false" />
        <activity
            android:name=".view_urge_data"
            android:exported="false" />
        <activity
            android:name=".drug_test_list"
            android:exported="false" />
        <activity
            android:name=".PHQ9Questionnaire"
            android:exported="false" />
        <activity
            android:name=".ViewTasks"
            android:exported="true" />
        <activity
            android:name=".ViewSupportGroups"
            android:exported="true" />
        <activity
            android:name=".ViewSuggestedActivities"
            android:exported="true" />
        <activity
            android:name=".ViewSelfHelp"
            android:exported="true" />
        <activity
            android:name=".ViewSelectedActivity"
            android:exported="true" />
        <activity
            android:name=".ViewProfile"
            android:exported="true" />
        <activity
            android:name=".ViewPost"
            android:exported="true" />
        <activity
            android:name=".ViewMoodTrackerData"
            android:exported="true" />
        <activity
            android:name=".ViewMessages"
            android:exported="true" />
        <activity
            android:name=".ViewJournalEntry"
            android:exported="true" />
        <activity
            android:name=".ViewJournalData"
            android:exported="true" />
        <activity
            android:name=".ViewDrugTest"
            android:exported="true" />
        <activity
            android:name=".ViewConversation"
            android:exported="true" />
        <activity
            android:name=".ViewComments"
            android:exported="true" />
        <activity
            android:name=".VerifyCode"
            android:exported="true" />
        <activity
            android:name=".SubsCravingQuestionnaire"
            android:exported="true" />
        <activity
            android:name=".PatientMainMenu"
            android:exported="true" />
        <activity
            android:name=".MoodTracker"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JournalEntry"
            android:exported="true" />
        <activity
            android:name=".Journal"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".CreateNewMessages"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="true" />
        <activity
            android:name=".AlumniMainMenu"
            android:exported="true" />
        <activity
            android:name=".AccomplishTask"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>