.html,body{
    background-attachment: fixed;
	background-image: linear-gradient(#FFFFFF,#bdffd9);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family:'Courier New', Courier, monospace;
    color:seagreen;
}

.scroll-bar{
	padding: 10px;
	height: 40rem;
	width: 100%;
	border: 1px solid green;
	overflow: auto;
	background-color: white;
}

.rowDesign{	
	background-color: #e8fff2;
	box-shadow: 0px 0px 20px seagreen;
	border-width: fit-content;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 50px
}

.commentBox{
	background-color: rgb(214, 255, 231);
	border: 2px solid orange;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px;
}

.inputComment{
	resize: none;
	width: 500px;
	border-radius: 20px;
	padding: 5px;
}

.journalContent{
	height: 100%;
	text-align: justify;
	padding: 5px;
}

.tabContainer{
    width: 100%;
    height: 350px;
}

.buttonContainer{
    height: 15%;
    box-shadow: 5px 5px 20px grey;
}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border-left: 1px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: white;
}

.tabContainer .buttonContainer .linknavbutton{
	width: 49.96%;
}

.tabContainer .buttonContainer .datanavbutton{
	justify-content: center;
	width: 20%;
}

.tabContainer .buttonContainer .physNav{
	width: 16.66%;
}

.tabContainer .buttonContainer button:hover{
	color: white;
    background-color: seagreen;
}

.tabContainer .tabPanel{
    height: 85%;
    color: seagreen;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    display: none;
}

.Welcoming{
	position: relative;
}

.error{
	text-align: center;
	color: red;
}

.namePatient{
	padding: 10px;
}

.loginForm{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 5px 5px 10px seagreen;
	margin-bottom: 50px;
}

.profileDesign{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 30px;
	padding: 50px;
	box-shadow: 5px 5px 20px seagreen;
	margin-top: 50px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 255, 106, 0.5);
    background-size: 60%, 60%;
    border-radius: 50%;
    border: 2px solid darkgreen;
	padding: 20px;
}

.actBtn{
	background-color: lightblue;
	border-radius: 15px;
	margin-right: 1px;
}

.deacBtn{
	background-color: lightcoral;
	border-radius: 15px;
	margin-left: 1px;
}

.btnRev{
	margin-right: 5px;
}

.btnIgn{
	margin-left: 5px;
}

.noAcc{
	text-align: center;
}

.toRight{
	float: right;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*
.chatItems ul li{
	list-style: none;
	color:black;
	border-radius: 50px;
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}
*/
.msgIcon{
	max-width: 100%;
	border-radius: 50%;
}

.chatContainer{
	max-width: 500 !important;
	margin: auto;
	margin-top: 2%;
	font-family: sans-serif;
	letter-spacing: 0.5px;
}

.msg-header{
	border: 1px solid #ccc;
	width: 100%;
	height: 10%;
	border-bottom: none;
	display: inline-block;
	background-color: #466d1d;
}

.msg-header-img{
	border-radius: 50%;
	width: 40px;
	margin-left: 5%;
	margin-top: 8px;
	float: left;
}

.chatActive{
	width: 120px;
	float: left;
	margin-top: 10px;
}

.chatActive h4{
	font-size: 20px;
	margin-left: 10px;
	color: #fff;
}
/*
.chatActive h6{
	font-size: 10px;
	margin-left: 10px;
	line-height: 2px;
	color: #fff;
}
*/
.chat-page{
	padding: 0 0 50px 0;
}

.msg-inbox{
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px;
}

.chats{
	padding: 30px 15px 0 25px;
}

.msg-page{
	height: 500px;
	overflow-y: auto;
}

.received-chats-img{
	display: inline-block;
	width: 20x;
	float: left;
}

.received-msg{
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 80%;
}

.received-message-inbox{
	width: 60%;
}

.received-msg-inbox p{
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	color: black;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: fit-content;
}

.time{
	color: #777;
	display: block;
	font-size: 12px;
	margin: 5px 0 0;
}

.outgoing-chats{
	overflow: hidden;
	margin: 26px 20px;
}

.outgoing-chats-msg{
	float: right;
	width: fit-content;
	margin-left: 20%;
}

.outgoing-chats-msg p{
	background: #32612d none repeat scroll 0 0;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}
/*
.outgoing-chats-img{
	display: inline-block;
	width: 20px;
	float: right;
}
*/
.msg-bottom{
	position: relative;
	height: 50%;
	padding: 20px;
	background-color: #466d1d;
}

.input-group{
	margin-top: 15px;
	margin-right: 20px;
	outline: none !important;
	border-radius: 20px;
	width: 100%;
	background-color: lightseagreen;

}

.input-group-text{
	background: transparent;
	border: none !important;
}

.inputChat{
	border: none !important;
	border-radius: 20px !important;
	resize: none;
}

.inputChat::-webkit-scrollbar{
	width: 0;
}

.inputChat:focus{
	border-color: none !important;
	box-shadow: none !important;
	border-radius: 22px;
}

.input-group .fa{
	color: green;
	float: right;
}

.ptntMsgLst{
	height: fit-content;
	max-height: 600px;
	overflow-y: auto;
}

.SGMainPost{
	height: fit-content;
	max-height: 500px;
	overflow-y: auto;
}

.SGMainPost::-webkit-scrollbar{
	width: 0px;
}

.SGMainComment{
	height: fit-content;
	max-height: 200px;
	overflow-y: auto;
}

.ptntMsgLst ul li{
	font-weight: bold;
	font-size: 26px;
	color: #fff;
	border-radius: 30px;
	border: 2px solid black;
	list-style: none;
	text-align: center;
	margin-bottom: 5px;
	background-color: seagreen;
}

.ptntMsgLst ul li:hover{
	background: lightseagreen;
}

.SGItems ul li{
	list-style: none;
	color: black;
	text-align: center;
	font-size: 35px;
	margin: 5px;
	padding: 10px;
	border: 2px solid green;
	border-radius: 50px;
}

.SGItems ul li:hover{
	background-color:darkseagreen;
	color: white;
}

.taskDescription{
	height: 70%;
	width: 100%;
	padding: 10px;
	font-size: medium;
}

.formDesign{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 30px;
	padding: 40px;
	box-shadow: 5px 5px 20px seagreen;
	margin-bottom: 50px;
}

.formAlign{
	text-align: left;
}

.table{
	cursor: pointer;
	text-align: left;
}

.navbar{
	padding: 10px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	font-family: cursive;
	
}

ul.navbar-nav li.profile-dropdown{
	margin-left: auto;
	margin-right: auto;
}

#navbarMenu ul li ul.dropdown-menu{
	border-radius: 0;
	border-top-width: 3px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-color: Green;
	margin-top: 17px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding-top: 0;
	padding-bottom: 0;
}

#navbarMenu ul li ul.dropdown-menu li{
	border-bottom: 1px solid #ccc;
}

#navbarMenu ul li ul.dropdown-menu li a:hover{
	background-color: seagreen;
	color: #ffffff;
	transition: .4s;
}

#navbarMenu ul li ul.dropdown-menu li a{
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#navbarMenu ul li a:hover{
	color: green;
}

.animate{
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

@-webkit-keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	
}