.html,body{
    background-attachment: fixed;
	background-image: linear-gradient(#FFFFFF,#bdffd9);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family:'Courier New', Courier, monospace;
    color:seagreen;
}

.scroll-bar{
	padding: 10px;
	height: 38rem;
	width: 100%;
	border: 1px solid gray;
	overflow: auto;
	background-color: white;
}

.rowDesign{	
	background: rgba(1, 182, 80, 0.5);
	box-shadow: 0px 0px 20px seagreen;
	border-width: fit-content;
	border-radius: 20px;
	padding: 20px;
}

.journalContent{
	height: 100%;
	background-color: white;
	text-align: justify;
	padding: 10px;
}

.tabContainer{
    width: 100%;
    height: 350px;
}

.buttonContainer{
    height: 15%;
    box-shadow: 5px 5px 20px grey;
}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border-left: 1px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: white;
}

.tabContainer .buttonContainer .linknavbutton{
	width: 49.96%;
}

.tabContainer .buttonContainer .physNav{
	width: 16.66%;
}

.tabContainer .buttonContainer button:hover{
	color: white;
    background-color: seagreen;
}

.tabContainer .tabPanel{
    height: 85%;
    color: seagreen;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    display: none;
}

.Welcoming{
	position: relative;
}

.error{
	text-align: center;
	color: red;
}

.namePatient{
	padding: 10px;
}

.loginForm{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 20px;
	padding: 30px;
	box-shadow: 5px 5px 10px seagreen;
	margin-bottom: 50px;
}

.profileDesign{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 30px;
	padding: 50px;
	box-shadow: 5px 5px 20px seagreen;
	margin-top: 50px;
}

.noAcc{
	text-align: center;
}

.formDesign{
	background: rgba(255,255,255, 0.5);
	border-width: fit-content;
	border-radius: 30px;
	padding: 40px;
	box-shadow: 5px 5px 20px seagreen;
	margin-bottom: 50px;
}

.formAlign{
	text-align: left;
}

.navbar{
	padding: 10px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	font-family: cursive;
	
}

ul.navbar-nav li.profile-dropdown{
	margin-left: auto;
	margin-right: auto;
}

#navbarMenu ul li ul.dropdown-menu{
	border-radius: 0;
	border-top-width: 3px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-color: Green;
	margin-top: 17px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding-top: 0;
	padding-bottom: 0;
}

#navbarMenu ul li ul.dropdown-menu li{
	border-bottom: 1px solid #ccc;
}

#navbarMenu ul li ul.dropdown-menu li a:hover{
	background-color: seagreen;
	color: #ffffff;
	transition: .4s;
}

#navbarMenu ul li ul.dropdown-menu li a{
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#navbarMenu ul li a:hover{
	color: green;
}

.animate{
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

@-webkit-keyframes slideDown{
	
	0%{
		transform: scaleY(0);
		transform-origin: center top 0;
		
	}
	
	100%{
		transform: scaleY(1);
		transform-origin: center top 0;
	}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	
}